---
layout: post.njk
title: "2017 Into 2018"
date: 2017-12-31
displayDate: "December 31, 2017"
---
<p>2017 was very much a challenging year (with one of the worst weeks of my life) but also a year of growth for me. At the beginning of the year, I was much more timid and I didn't talk much. Now, I'm still timid and not very talkative, but much less so. I hope that 2018 will be another year of growth for me! I cannot wait to see what God has planned for me!</p>

<blockquote>Isaiah 43:16, 18–19</blockquote>

<h2>Goals for 2018</h2>
<ol>
  <li>Study the Bible daily.</li>
  <li>Build more apps and websites. (easy)</li>
  <li>Write a blog post at least monthly.</li>
  <li>Make another film! (see <a href="https://412productions.com/films/cic" target="_blank" rel="noopener noreferrer">Project CIC</a>)</li>
  <li>Grow Filiosoft to a decent steady income.</li>
  <li>Learn React, React Native, and Golang.</li>
  <li>Work at becoming a better photo/videographer</li>
</ol>
